body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 45%;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  font-size: 80px;
  font-weight: 800;
  cursor: pointer;
}

.result {
  justify-content: center;
  margin-top: 32px;
}
.score,
.result {
  font-size: 40px;
  display: flex;
}

.score {
  gap: 48px;
  justify-content: center;
}
